@{

}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header d-flex p-0">
                <h3 class="card-title p-3">Team List</h3>
                <div class="card-tools ml-auto mr-2 p-2">
                    <button id="btnAddTeam" type="button" class="btn btn-primary float-right">Add Team</button>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div id="divTeamList"> </div>
                <div id="AddTeam" class="page fade" data-keyboard="false" data-backdrop="static">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <div id="AddTeamData">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>

@section Scripts{
    <script src="~/archeone/js/team/team.js"></script>
}


