@using ArcheOne.Helper.CommonModels;
@using ArcheOne.Models.Res;
@model List<GetTeamListResModel>

@{
    Layout = "_BlankLayout";
    ViewBag.dataTable = "true";
}
<style>
    td {
        text-align: center;
    }

    thead {
        font-weight: bold;
    }
</style>

<div class="row form-group">
    <div class="col-md-12">
        <table id="tblTeam" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <td>
                        <b>Actions</b>
                    </td>
                    <td>
                        <b>Team Lead</b>
                    </td>
                    <td>
                        <b>Team Member</b>
                    </td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <i class="fa fa-pen pen btn-edit" TeamLeadId="@item.TeamLeadId" style="cursor: pointer;"></i> &nbsp; | &nbsp;
                            <i class="fa fa-trash trash btn-delete" TeamLeadId="@item.TeamLeadId" style="cursor: pointer;"></i>
                        </td>
                        <td>
                            @item.TeamLead
                        </td>
                        <td>
                            @item.TeamName
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>