@{
    ViewBag.boostrapdataload = "true";
    Layout = "_MasterLayout";
}
@model bool

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Teams</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Masters</a></li>
                    <li class="breadcrumb-item active">Teams</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Team List</h3>
            @if (@Model)
            {
                <input type="button" id="AddTeamPage" class="btn btn-primary float-right" value="Add Team" />
            }
        </div>
        <div class="card-body">
            <div id="divTeamList">
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script src="~/archeone/js/team/team.js?_@DateTime.Now.Ticks"></script>
}

