@using ArcheOne.Database.Entities;
@model List<TeamMst>
@{
    Layout = "_BlankLayout";
}

<div class="row form-group">
    <div class="col-md-12">
        <table id="tblTeam" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <td>
                        <b>Id</b>
                    </td>
                    <td>
                        <b>Team Lead</b>
                    </td>
                    <td>
                        <b>Team Member</b>
                    </td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Id
                        </td>
                        <td>
                            @item.TeamLeadId
                        </td>
                        <td>
                            @item.TeamMemberId
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>