@{
    Layout = "_MasterLayout";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>User Document</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Masters</a></li>
                    <li class="breadcrumb-item active">User</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">User Document List</h3>
            <input type="button" id="AddUserDocument" class="btn btn-primary float-right" value="Add User Document" />
        </div>
        <div class="card-body">
            <div id="divPolicyList">
            </div>
        </div>
    </div>
</section>

@section Scripts{

}