@inject IHttpContextAccessor HttpContextAccessor
@using ArcheOne.Helper.CommonHelpers;
@using ArcheOne.Models.Res;
@using System.Text.Json;
@{
    List<IndexDashboardResModel> permissionList = new List<IndexDashboardResModel>();
    var serializedData = HttpContextAccessor.HttpContext.Session.GetString("PermissionList");

    if (serializedData != null)
    {
        permissionList = JsonSerializer.Deserialize<List<IndexDashboardResModel>>(serializedData) ?? new List<IndexDashboardResModel>();
    }
}

@if (permissionList != null && permissionList.Count > 0)
{
    <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                with font-awesome or any other icon font library -->
                @if (permissionList.Any(x => x.PermissionCode == CommonEnums.PermissionMst.Dashboard_View.ToString()))
                {
                    <li class="nav-item">
                        <a href="~/Dashboard/Index" class="nav-link"><i class="nav-icon fas fa-tachometer-alt"></i><p>Dashboard</p></a>
                    </li>
                }

                @if (permissionList.Any(x => x.PermissionCode == CommonEnums.PermissionMst.Event_View.ToString()))
                {
                    <li class="nav-item">
                        <a href="~/Event/Event" class="nav-link">
                            <i class="nav-icon fas fa-calendar-alt"></i><p>Events</p>
                        </a>
                    </li>
                }

                @if (permissionList.Any(x
               => x.PermissionCode == CommonEnums.PermissionMst.Users_View.ToString()
               || x.PermissionCode == CommonEnums.PermissionMst.User_Document_View.ToString()
               || x.PermissionCode == CommonEnums.PermissionMst.Default_Permissions_View.ToString()
               || x.PermissionCode == CommonEnums.PermissionMst.Default_Permissions_View.ToString()
               || x.PermissionCode == CommonEnums.PermissionMst.User_Permissions_View.ToString()
               || x.PermissionCode == CommonEnums.PermissionMst.Teams_View.ToString()
               || x.PermissionCode == CommonEnums.PermissionMst.Holidays_View.ToString()))
                {
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fa fa-toolbox"></i>
                            <p>
                                Masters
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            @if (permissionList.Any(x => x.PermissionCode == CommonEnums.PermissionMst.Users_View.ToString()))
                            {
                                <li class="nav-item">
                                    <a href="~/User/User" class="nav-link">
                                        <i class="nav-icon fa fa-user"></i>
                                        <p>Users</p>
                                    </a>
                                </li>
                            }

                            @if (permissionList.Any(x => x.PermissionCode == CommonEnums.PermissionMst.User_Document_View.ToString()))
                            {
                                <li class="nav-item">
                                    <a href="~/UserDocument/UserDocument" class="nav-link">
                                        <i class="nav-icon fa fa-file-alt"></i>
                                        <p>User Document</p>
                                    </a>
                                </li>
                            }

                            @if (permissionList.Any(x
                           => x.PermissionCode == CommonEnums.PermissionMst.Default_Permissions_View.ToString()
                           || x.PermissionCode == CommonEnums.PermissionMst.User_Permissions_View.ToString()))
                            {
                                <li class="nav-item has-treeview">
                                    <a href="#" class="nav-link">
                                        <i class="nav-icon fa fa-lock"></i>
                                        <p>
                                            Permissions
                                            <i class="right fas fa-angle-left"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">
                                        @if (permissionList.Any(x => x.PermissionCode == CommonEnums.PermissionMst.Default_Permissions_View.ToString()))
                                        {
                                            <li class="nav-item">
                                                <a href="~/Permission/DefaultPermission" class="nav-link">
                                                    <i class="nav-icon fa fa-key"></i>
                                                    <p>Default Permission</p>
                                                </a>
                                            </li>
                                        }
                                        @if (permissionList.Any(x => x.PermissionCode == CommonEnums.PermissionMst.User_Permissions_View.ToString()))
                                        {
                                            <li class="nav-item">
                                                <a href="~/Permission/UserPermission" class="nav-link">
                                                    <i class="nav-icon fa fa-user-lock"></i>
                                                    <p>User Permission</p>
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </li>
                            }

                            @if (permissionList.Any(x => x.PermissionCode == CommonEnums.PermissionMst.Teams_View.ToString()))
                            {
                                <li class="nav-item">
                                    <a href="~/Team/Team" class="nav-link">
                                        <i class="nav-icon fas fa-users"></i>
                                        <p>Teams</p>
                                    </a>
                                </li>
                            }

                            @if (permissionList.Any(x => x.PermissionCode == CommonEnums.PermissionMst.Holidays_View.ToString()))
                            {
                                <li class="nav-item">
                                    <a href="~/Holiday/Holiday" class="nav-link">
                                        <i class="nav-icon fas fa-umbrella-beach"></i>
                                        <p>Holiday</p>
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>
                }

                @if (permissionList.Any(x
               => x.PermissionCode == CommonEnums.PermissionMst.Policy_View.ToString()
               || x.PermissionCode == CommonEnums.PermissionMst.Leaves_View.ToString()
               || x.PermissionCode == CommonEnums.PermissionMst.Salary_View.ToString()
               || x.PermissionCode == CommonEnums.PermissionMst.Appraisal_View.ToString()))
                {
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fa fa-handshake"></i>
                            <p>
                                HR
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">                            
                            @if (permissionList.Any(x => x.PermissionCode == CommonEnums.PermissionMst.Policy_View.ToString()))
                            {
                                <li class="nav-item">
                                    <a href="~/Policy/Policy" class="nav-link">
                                        <i class="nav-icon fas fa-file"></i>
                                        <p>Policy</p>
                                    </a>
                                </li>
                            }


                            @if (permissionList.Any(x => x.PermissionCode == CommonEnums.PermissionMst.Leaves_View.ToString()))
                            {
                                <li class="nav-item">
                                    <a href="~/Leaves/Leaves" class="nav-link">
                                        <i class="nav-icon fas fa-calendar-day"></i>
                                        <p>Leaves</p>
                                    </a>
                                </li>
                            }

                            @if (permissionList.Any(x => x.PermissionCode == CommonEnums.PermissionMst.Salary_View.ToString()))
                            {
                                <li class="nav-item">
                                    <a href="~/Salary/Salary" class="nav-link">
                                        <i class="nav-icon fas fa-hand-holding-usd"></i>
                                        <p>Salary</p>
                                    </a>
                                </li>
                            }

                            @if (permissionList.Any(x => x.PermissionCode == CommonEnums.PermissionMst.Appraisal_View.ToString()))
                            {
                                <li class="nav-item">
                                    <a href="~/Appraisal/Appraisal" class="nav-link">
                                        <i class="nav-icon fas fa-money-check-alt"></i>
                                        <p>Appraisal</p>
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>
                }

                @if (permissionList.Any(x
               => x.PermissionCode == CommonEnums.PermissionMst.Requirements_View.ToString()
               || x.PermissionCode == CommonEnums.PermissionMst.Leads_View.ToString()))
                {
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fa fa-cart-plus"></i>
                            <p>
                                Sales
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            @if (permissionList.Any(x => x.PermissionCode == CommonEnums.PermissionMst.Leads_View.ToString()))
                            {
                                <li class="nav-item">
                                    <a href="~/SalesLead/Index" class="nav-link">
                                        <i class="nav-icon fas fa-magnet"></i>
                                        <p>Leads</p>
                                    </a>
                                </li>
                            }
                            
                            @if (permissionList.Any(x => x.PermissionCode == CommonEnums.PermissionMst.Requirements_View.ToString()))
                            {
                                <li class="nav-item">
                                    <a href="~/Requirement/Index" class="nav-link">
                                        <i class="nav-icon fas fa-book"></i>
                                        <p>Requirements</p>
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>
                }

                @if (permissionList.Any(x
               => x.PermissionCode == CommonEnums.PermissionMst.Daily_Tasks_View.ToString()
               || x.PermissionCode == CommonEnums.PermissionMst.Projects_View.ToString()))
                {
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fa fa-tasks"></i>
                            <p>
                                Tasks Management
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            @if (permissionList.Any(x => x.PermissionCode == CommonEnums.PermissionMst.Daily_Tasks_View.ToString()))
                            {
                                <li class="nav-item">
                                    <a href="~/Task/Task" class="nav-link">
                                        <i class="fa fa-table nav-icon"></i>
                                        <p>Daily Tasks</p>
                                    </a>
                                </li>
                            }
                            @if (permissionList.Any(x => x.PermissionCode == CommonEnums.PermissionMst.Projects_View.ToString()))
                            {
                                <li class="nav-item">
                                    <a href="~/Project/Project" class="nav-link">
                                        <i class="fa fa-project-diagram nav-icon"></i>
                                        <p>Projects</p>
                                    </a>
                                </li>
                            }
                            @if (permissionList.Any(x => x.PermissionCode == CommonEnums.PermissionMst.Task_Report_View.ToString()))
                            {
                                <li class="nav-item">
                                    <a href="~/Task/TaskReport" class="nav-link">
                                        <i class="fa fa-file-csv nav-icon"></i>
                                        <p>Task Report</p>
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>
                }
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
}
else
{

}