@using ArcheOne.Helper.CommonModels;
@using ArcheOne.Models.Req;
@model AddEditHolidayReqModel

@{
    Layout = "_MasterLayout";
    string Title = Model.Id > 0 ? "Edit Holiday" : "Create Holiday";
    //ViewBag.datepicker = "true";
}

<section class="content-header"></section>
<section class="content">
    <div class="container-fluid">
        <div class="card card-outline card-primary">
            <div class="card-header">
                @Title
                <h3 class="card-title"></h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <input id="txtHolidayId" name="txtHolidayId" type="hidden" class="form-control col-sm-4" value="@Model.Id" />

                    <div class="col-md-4" id="dtxtHolidayName">
                        <div class="form-group">
                            <label class="form-label"><span class="has-error required">* </span>Holiday Name</label>
                            <input id="txtHolidayName" type="text" name="HolidayName" class="form-control text-length datepicker" placeholder="Please enter your HolidayName" value="@Model.HolidayName" isrequired="1" divcontainer="dtxtHolidayName" errorspan="stxtHolidayName" defaultvalue="" autocomplete="off" minlength="2">
                            <span class="help-block d-none has-error" id="stxtHolidayName">Please Enter Valid HolidayName</span>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group col-sm-12" id="dtxtHolidayDate">
                            <label><span class="has-error required">* </span>Holiday Date</label>
                            <input id="txtHolidayDate" data-format="dd/MM/yyyy" name="txtHolidayDate" type="text" class="form-control" value="@Model.HolidayDate" isrequired="1" divcontainer="dtxtHolidayDate" errorspan="stxtHolidayDate" defaultvalue="">
                            <span class="help-block d-none has-error" id="stxtHolidayDate">Please Select Holiday Date</span>
                        </div>
                    </div>

                    </div>

                    <div class="card-footer">
                        <div class="row mr-lg-n3 float-right">
                            @if (Title == "Edit Holiday")
                            {
                                <button type="button" id="btnSaveAdd" class="btn btn-success mr-2">Update</button>
                            }
                            else
                            {
                                <button type="button" id="btnSaveAdd" class="btn btn-success mr-2">Submit</button>
                            }
                            <button type="button" id="btnCancel" data-dismiss="modal" class="btn btn-danger float-right">Cancel</button>
                        </div>
                    </div>


                </div>
            </div>
</section>

@section Scripts {
    <script src="~/archeone/js/holiday/addeditholiday.js?_@DateTime.Now.Ticks"></script>
}