

.required{
    color: red;
    font-size: 14px;
}

.has-error {
    color: red;
    font-size: 14px;
    border-color: red;
}

.pen {
    color: forestgreen!important;
}

.trash {
    color: #DE333B !important;
}

.circle{
    color: #125fb2
}

.my-pointer{
    cursor:pointer;
}