@{
    Layout = "_MasterLayout";
}

@if (1 == 0)
{
    <h3 style="color:red;">This Page Is In Under Development!</h3>
}
else
{
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Product Types</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Masters</a></li>
                        <li class="breadcrumb-item active">Product Types</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Product Types</h3>
                <div class="card-tools">
                    <input type="button" id="btnAddProductType" class="btn btn-primary" value="Add Product Type" />
                </div>
            </div>
            <div class="card-body">
                <div id="divProductTypeList">
                </div>
            </div>
        </div>
    </section>
}

@section Scripts{
    <script src="~/archeone/js/producttype/index.js?_@DateTime.Now.Ticks"></script>
}
