@{
    Layout = "_MasterLayout";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Requirements</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">HR</a></li>
                    <li class="breadcrumb-item active">Requirements</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="card">
        <div class="card-header">
            <div class="row form-group">
                <div class="col-md-3">
                    <label>Requirement For</label>
                    <select id="ddlRequirementFor" name="ddlRequirementFor" class="form-control">
                        <option value="0"> --- Select All --- </option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label>Clients</label>
                    <select id="ddlClients" name="ddlClients" class="form-control">
                        <option value="0"> --- Select All --- </option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label>Position Type</label>
                    <select id="ddlPositionType" name="ddlPositionType" class="form-control">
                        <option value="0"> --- Select All --- </option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label>Requirement Type</label>
                    <select id="ddlRequirementType" name="ddlRequirementType" class="form-control">
                        <option value="0"> --- Select All --- </option>
                    </select>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-3">
                    <label>Employment Type</label>
                    <select id="ddlEmploymentType" name="ddlEmploymentType" class="form-control">
                        <option value="0"> --- Select All --- </option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label>Requirement Status</label>
                    <select id="ddlRequirementStatus" name="ddlRequirementStatus" class="form-control">
                        <option value="0"> --- Select All --- </option>
                    </select>
                </div>
                <div class="col-md-2">
                    <input type="button" id="btnSearch" class="btn btn-primary" value="Search" style="margin-top:32px;" />
                </div>
                <div class="col-md-4" align="right">
                    <input type="button" id="btnAddRequirement" class="btn btn-success" value="Add Requirement" style="margin-top:32px;" />
                </div>
            </div>
        </div>
        <div class="card-body">
            <div id="divRequirementList">
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script src="~/archeone/js/requirement/index.js?_@DateTime.Now.Ticks"></script>
}
