/*
#RegisterForm {
    display: block;
    position: relative;
}

#spinner {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background: url(spinner.gif) no-repeat center #fff;
    padding: 10px;
    font: normal 16px Tahoma, Geneva, sans-serif;
    border: 1px solid #666;
    z-index: 2;
    opacity: 0.75;
}*/



