@{
    Layout = "_MasterLayout";
    ViewBag.datatable = "true";
    ViewBag.select2 = "true";

}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Sales</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Sales</a></li>
                    <li class="breadcrumb-item active">Actions</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content" id="sectionData">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Lead and Contact Person Details</h3>

                        <div class="card-tools">
            <button id="btnBackToLead" type="button" class="btn btn-primary float-right">Back To Lead</button>
            </div>
        </div>
        <input type="hidden" id="txtSalesLeadId" />
        <input type="hidden" id="txtSalesContactPersonId" />
        <input type="hidden" id="txtFollowupId"/>
        <div class="card-body">
            <div class="row form-group">
                <div class="col-md-4">
                    <label class="text-dark">Contact Person : </label>
                    <label id="lblContactPerson" class="text-secondary"></label>

                </div>
                <div class="col-md-4">
                    <label class="text-dark">Designation : </label>
                    <label id="lblDesignation" class="text-secondary"></label>
                </div>
                <div class="col-md-4">
                    <label class="text-dark">Organization : </label>
                    <label id="lblOrganization" class="text-secondary"></label>
                </div>

            </div>

            <div class="row form-group">
                <div class="col-md-4">
                    <label class="text-dark">Website : </label>
                    <label id="lblWebsite" class="text-secondary"></label>
                </div>
                <div class="col-md-4">
                    <label class="text-dark">Speciality : </label>
                    <label id="lblSpeciality" class="text-secondary"></label>
                </div>
                <div class="col-md-4">
                    <label class="text-dark">Country : </label>
                    <label id="lblCountry" class="text-secondary"></label>
                </div>

            </div>
            <div class="row form-group">
                <div class="col-md-4">
                    <label class="text-dark">Office Phone : </label>
                    <label id="lblOfficePhone" class="text-secondary"></label>
                </div>
                <div class="col-md-4">
                    <label class="text-dark">Mobile : </label>
                    <label id="lblMobile" class="text-secondary"></label>
                </div>
                <div class="col-md-4">
                    <label class="text-dark">Email : </label>
                    <label id="lblEmail" class="text-secondary"></label>
                </div>
            </div>


        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Action List</h3>

            <div class="card-tools">
                <button id="btnAddAction" type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#modalActionUpload">Add New Action</button>
            </div>
        </div>
        <div class="card-body">
            <table id="tblSalesLeadFolloup" class="table table-bordered table-striped" style="width:100%">
            </table>
        </div>
    </div>
   
        <div class="modal fade" id="modalActionUpload" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Action</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-sm-12" id="modelAction">
                        <div class="row form-group">
                            <div class="col-md-6" id="dtxtActionDate">
                                <label class="form-label"><span class="has-error required">* </span>Action Date</label>
                                <input type="date" id="txtActionDate" name="txtActionDate" class="form-control" isRequired="1" divcontainer="dtxtActionDate" errorspan="stxtActionDate" defaultvalue="" />
                                <span class="help-block d-none has-error" id="stxtActionDate">Please Select Action Date</span>
                            </div>
                            <div class="col-md-6" id="dtxtNextFollowupDate">
                                <label class="form-label"><span class="has-error required">* </span>Next Followup Date</label>
                                <input type="date" id="txtNextFollowupDate" name="txtNextFollowupDate" class="form-control" isRequired="1" divcontainer="dtxtNextFollowupDate" errorspan="stxtNextFollowupDate" defaultvalue="" />
                                <span class="help-block d-none has-error" id="stxtNextFollowupDate">Please Select Next Followup Date</span>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-6" id="dddlActionPerformed">
                                <label class="form-label"><span class="has-error required">* </span>Action Performed</label>
                                <select id="ddlActionPerformed" name="ddlActionPerformed" class="form-control select2" isrequired="1" divcontainer="dddlActionPerformed" errorspan="sddlActionPerformed" defaultvalue="0" style="width: 100%;">
                                    <option value="0">Select Action Performed</option>
                                </select>
                                <span class="help-block d-none has-error" id="sddlActionPerformed">Please Select Action Performed</span>
                            </div>
                            <div class="col-md-6" id="dddlNextFollowupActionPerformed">
                                <label class="form-label"><span class="has-error required">* </span>Next Followup Action Performed</label>
                                <select id="ddlActionPerformedNextFollowupActionPerformed" name="ddlNextFollowupActionPerformed" class="form-control select2" isrequired="1" divcontainer="dddlNextFollowupActionPerformed" errorspan="sddlNextFollowupActionPerformed" defaultvalue="0" style="width: 100%;">
                                    <option value="0">Select Followup Action Performed</option>
                                </select>
                                <span class="help-block d-none has-error" id="sddlNextFollowupActionPerformed">Please Select Next Followup Action Performed</span>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-6" id="dtxtActionComment">
                                <label class="form-label"><span class="has-error required">* </span>Action Comment</label>
                                <input type="text" id="txtActionComment" multiple="3" name="txtActionComment" class="form-control" isrequired="1" divcontainer="dtxtActionComment" errorspan="stxtActionComment" defaultvalue="" />
                                <span class="help-block d-none has-error" id="stxtActionComment">Please Select Action Performed</span>
                            </div>
                            <div class="col-md-6" id="dtxtNextFollowupActionComment">
                                <label class="form-label"><span class="has-error required">* </span>Next Followup Action Comment</label>
                                <input type="text" id="txtNextFollowupActionComment" name="txtNextFollowupActionComment" class="form-control" isrequired="1" divcontainer="dtxtNextFollowupActionComment" errorspan="stxtNextFollowupActionComment" defaultvalue="" />
                                <span class="help-block d-none has-error" id="stxtNextFollowupActionComment">Please Select Next Followup Action Performed</span>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-6" id="dddlOrganizationStatus">
                                <label class="form-label"><span class="has-error required">* </span>Lead Status</label>
                                <select id="ddlOrganizationStatus" name="ddlOrganizationStatus" class="form-control select2" isrequired="1" divcontainer="dddlOrganizationStatus" errorspan="sddlOrganizationStatus" defaultvalue="0" style="width: 100%;">
                                    <option value="0">Select LeadStatus</option>
                                </select>
                                <span class="help-block d-none has-error" id="sddlOrganizationStatus">Please Select Lead Status</span>
                            </div>
                            <div class="col-md-6 d-flex align-items-baseline">
                                @*<input type="Checkbox" id="chbActive" name="chbActive" checked="checked" isrequired="0" divcontainer="dchbActive" /><span class="p-1">Is Active</span>*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" id="btnClose" name="btnClose" class="btn btn-danger float-right" data-dismiss="modal" value="Close" />

                    <input type="button" id="btnSubmitAction" name="btnSubmitAction" class="btn btn-success float-right" value="Add" />

                    <input type="button" id="btnUpdateAction" name="btnUpdateAction" class="btn btn-warning float-right" value="Update" />
                </div>
            </div>
        </div>
    </div>

</section>

@section Scripts{
    <script src="~/archeone/js/saleslead/action.js?_@DateTime.Now.Ticks"></script>
}
