@{
    Layout = "_MasterLayout";
    ViewBag.datatable = "true";

}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Sales</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Sales</a></li>
                    <li class="breadcrumb-item active">Actions</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content" id="sectionData">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Actions</h3>

            <div class="card-tools">
                <button id="btnAddAction" type="button" class="btn btn-primary float-right">Add Action</button>
            </div>
        </div>
        <div class="card-body">
            <div class="row form-group">
                <div class="col-md-4" >
                    <label>Contact Person : </label>
                    <label class="text-muted">Contact Person</label>
                    
                </div>
                <div class="col-md-4" >
                    <label>Designation : </label>
                    <label>Designation</label>
                </div>
                <div class="col-md-4" >
                    <label>Organization : </label>
                    <label>Organization</label>
                </div>
                
            </div>

            <div class="row form-group">
                <div class="col-md-4">
                    <label>Website</label>
                    <label>Website</label>
                </div>
                <div class="col-md-4" >
                    <label>Speciality</label>
                    <label>Speciality</label>
                </div>
                <div class="col-md-4" >
                    <label>Country</label>
                    <label>Country</label>
                </div>
               
            </div>
            <div class="row form-group">
                <div class="col-md-4">
                    <label>Office Phone</label>
                    <label>Office Phone </label>
                </div>
                <div class="col-md-4">
                    <label>Mobile</label>
                    <label>Mobile</label>
                </div>
                <div class="col-md-4">
                    <label>Email</label>
                    <label>Email</label>
                </div>
            </div>

            
        </div>
    </div>
</section>

@section Scripts{
}
