@{
    Layout = "_MasterLayout";
    ViewBag.datatable = "true";

}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Leads</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Sales</a></li>
                    <li class="breadcrumb-item active">Leads</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content" id="sectionData">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Leads List</h3>

            <div class="card-tools">
                <input type="button" id="btnUploadExcelSales" class="btn btn-primary mr-2 float-left" data-toggle="modal" data-target="#modalSalesExcelUpload" value="Upload Excel" />
                <button id="btnAddSaleLead" type="button" class="btn btn-primary float-right">Add Lead</button>
            </div>
        </div>
        <div class="card-body">
            @*<div id="divSalesLeadList"> </div>
            <div id="AddSalesLeadData"></div>*@
            <table id="tblLeadContacts" class="table table-bordered table-striped" style="width:100%">
            </table>
        </div>
        <div class="modal fade" id="modalSalesExcelUpload">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Upload Sales Sheet</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="Uploadsalesclose">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="col-sm-12" id="modelUpload">
                            <div class="form-group" id="dfileSalesSheet">
                                <label><span class="has-error required">* </span>Sales Sheet</label>
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input id="fileSalesSheet" type="file" name="fileSalesSheet" isrequired="1" divcontainer="dfileSalesSheet" errorspan="sfileSalesSheet" defaultvalue="" autocomplete="off" class="custom-file-input" onchange="SalesloadFile(event)" accept=".xls, .xlsx" />
                                        <label id="lblSalesSheet" class="custom-file-label">Choose file</label>
                                    </div>
                                </div>
                                <span class="help-block d-none has-error" id="sfileSalesSheet">Please select excel sheet only.</span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" id="btnUploadSalesSheet" name="btnUploadSalesSheet" class="btn btn-warning float-right" value="Upload" />
                    </div>
                </div>
            </div>
    </div>
</section>

@section Scripts{
    <script src="~/archeone/js/saleslead/index.js?_@DateTime.Now.Ticks"></script>
    <script src="//cdn.rawgit.com/ashl1/datatables-rowsgroup/v1.0.0/dataTables.rowsGroup.js"></script>
}