@using ArcheOne.Models.Req;
@model UserAddEditReqViewModel;
@{
    ViewBag.datatable = "true";
    
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header d-flex p-0">
                <h3 class="card-title p-3">User List</h3>
                <div class="card-tools ml-auto mr-2 p-2">
                    <input type="button" id="btnAddUser" class="btn btn-primary float-right" value="Add User" />
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="col-md-3">
                    @*<label for="roles">Role :</label>
                    <select id="ddlRole" name="ddlRole" class="form-control">
                        @foreach (var item in roles)
                        {
                        <option value="@item.Id">@item.RoleName</option>
                        }
                    </select>*@

                    <label>Role</label>
                    <select class="form-control" id="slRoles" onchange="GetUserList($(this).val())">
                        <option selected disabled value="0">Select Role</option>
                    </select>

                </div>
                <table id="tblUser" class="table table-bordered table-striped"></table>
                <div id="divUserList"> </div>
                <div id="AddUserForm">
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>

@section Scripts{
	<script src="~/archeone/js/user/user.js"></script>
}


