@{

}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header d-flex p-0">
                <h3 class="card-title p-3">User List</h3>
                <div class="card-tools ml-auto mr-2 p-2">
                    <input type="button" id="btnAddUser" class="btn btn-primary float-right" value="Add User" />
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div id="divUserList"> </div>
              @*  <button id="AddUserPage" >Add</button>*@
                <div id="AddUserForm">
                </div>
                @* <button id="AddUserPage" class="modal fade">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                <div id="AddUserForm">
                            </div>
                        </div>
                    </div>
                </button>*@
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>

@section Scripts{
	<script src="~/archeone/js/user/user.js"></script>
}


