@model ArcheOne.Models.Req.UserModel

<div class="container">
	<form id="contact-form" method="post" action="contact.php" role="form" enctype="multipart/form-data">
		<div class="messages"></div>
		<div class="controls">
			<div class="row">
				<div class="col-sm-12">
					<div class="form-group">
						@*<div class="file-upload-wrapper">
						<img id="photoUrl" style="width:75px!important" name="photoUrl" />
						</div>
						<input type="file" accept="image/*" onchange="loadFile(event)" name="photoUrl" value="photoUrl">
						<div class="help-block with-errors"></div>*@
						<div class="form-group">
							<label for="form_name">Photo *</label>
							<div class="file-upload-wrapper">
								<img id="photoUrl" style="width:75px!important" name="photoUrl" />
							</div>
							<input id="form_file" type="file" accept="image/*" onchange="loadFile(event)" name="photoUrl" name="photoUrl" required="requierd" />
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<input id="user_id" type="hidden" name="userId" class="form-control">
					<div class="form-group">
						<label for="form_name">Company *</label>
						<select name="companyId" id="companyId" class="form-control" required="required">
							<option>--Select Option--</option>
							<option name="companyId" value="1">Arche Softronix</option>
							<option name="companyId" value="2">Reyna Solutions</option>
						</select>
						<div class="help-block with-errors"></div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<label for="form_name">FirstName *</label>
						<input id="form_firstname" type="text" name="firstname" class="form-control" placeholder="Please enter your firstname *" >
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<label for="form_name">MiddleName *</label>
						<input id="form_middlename" type="text" name="middlename" class="form-control" placeholder="Please enter your middlename *" required="required" data-error="middlename is required.">
						<div class="help-block with-errors"></div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<label for="form_name">LastName *</label>
						<input id="form_lastname" type="text" name="lastname" class="form-control" placeholder="Please enter your lastname *" required="required" data-error="lastname is required.">
						<div class="help-block with-errors"></div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<label for="form_name">UserName *</label>
						<input id="form_username" type="text" name="username" class="form-control" placeholder="Please enter your username *" required="required" data-error="username is required.">
						<div class="help-block with-errors"></div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<label for="form_name">Password *</label>
						<input id="form_password" type="password" name="password" class="form-control" placeholder="Please enter your password *" required="required" data-error="password is required.">
						<div class="help-block with-errors"></div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<label for="form_name">Address *</label>
						<input id="form_address" type="text" name="address" class="form-control" placeholder="Please enter your address *" required="required" data-error="address is required.">
						<div class="help-block with-errors"></div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<label for="form_name">Pincode *</label>
						<input id="form_pincode" type="text" name="pincode" class="form-control" placeholder="Please enter your pincode *" required="required" data-error="pincode is required.">
						<div class="help-block with-errors"></div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<label for="form_mobile1">Mobile1 *</label>
						<input id="form_mobile1" type="tel" name="mobile1" class="form-control" placeholder="Please enter your mobile number">
						<div class="help-block with-errors"></div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<label for="form_mobile1">Mobile2 *</label>
						<input id="form_mobile2" type="tel" name="mobile2" class="form-control" placeholder="Please enter your mobile number">
						<div class="help-block with-errors"></div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<label for="form_email">Email *</label>
						<input id="form_email" type="email" name="email" class="form-control" placeholder="Please enter your email *" required="required" data-error="Valid email is required.">
						<div class="help-block with-errors"></div>
					</div>
				</div>

			</div>
		</div>
		<div class="clearfix"></div>
		<div class="row">
			<div class="col-md-1">
				<input method="post" type="submit" class="btn btn-warning btn-send" value="Submit" asp-action="User" asp-controller="User">
			</div>
			<div class="col-md-1">
				<input type="submit" class="btn btn-danger btn-send" value="Cancel">
			</div>
		</div>
		@*<h6 style="color:red">@ViewBag.Message</h6>*@
		@if (ViewBag.Message != null)
		{
			<script type="text/javascript">
				window.onload = function () {
					alert("@ViewBag.Message");
				};
			</script>
		}
	</form>
</div>

<script type="text/javascript">
	var loadFile = function (event) {
		var reader = new FileReader();
		reader.onload = function () {
			var output = document.getElementById('photoUrl');
			output.src = reader.result;
		};
		reader.readAsDataURL(event.target.files[0]);
	};
</script>
