@using ArcheOne.Models.Res;
@model bool
@{
    ViewBag.boostrapdataload = "true";
    Layout = "_MasterLayout";
    int id = 0;
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Policy</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">HR</a></li>
                    <li class="breadcrumb-item active">Policy</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Policy List</h3>
            @if (Model)
            {
                <input type="button" id="AddPolicy" class="btn btn-primary float-right" value="Add Policy" />
            }
        </div>
        <div class="card-body">
            <div id="divPolicyList">
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script src="~/archeone/js/policy/policy.js"></script>
    <script src="~/theme/plugins/jquery/jquery.min.js"></script>
    <script src="~/theme/plugins/bootstrap/js/bootstrap.min.js"></script>
}

