@using ArcheOne.Helper.CommonModels;
@using ArcheOne.Models.Res;
@model GetPolicyListResModel
@{
    Layout = "_BlankLayout";
    ViewBag.dataTable = "true";
}
<style>
    td {
        text-align: center;
    }

    thead {
        font-weight: bold;
    }
</style>

<div class="row form-group">
    <div class="col-md-12">
        <table id="tblPolicy" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <td>
                        <b>Action</b>
                    </td>
                    <td>
                        <b>Policy Name</b>
                    </td>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.PolicyDetails)
                {
                    <tr>
                        <td>
                            @if (Model.IsDeletable)
                            {
                                <i class="fa fa-trash trash btn-delete" Id="@item.Id" style="cursor: pointer;"></i>
                                <span>&nbsp;|&nbsp;</span>
                            }
                            <i class="fa fa-download btn-download" Id="@item.Id" aria-hidden="true" style="cursor: pointer;"></i>
                        </td>
                        <td>
                            @item.PolicyName
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>