@{
    Layout = "_MasterLayout";
}

<section class="content-header"></section>
<section class="content">
    <div class="container-fluid">
        <div class="card card-outline card-primary">
            <div class="card-header">
                Change Password? 🔒 
                <h3 class="card-title"></h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                @*<form class="mb-3" asp-controller="LogIn" asp-action="ResetPassword" method="POST">*@
                <div>
                    <input type="hidden" class="form-control" id="txtUserId" name="txtUserId" value=@ViewBag.data autofocus />
                </div>
               
                <div class="form-outline mb-4" id="dtxtOldPassword">
                    <label class="form-label"><span class="has-error required">*</span>OldPassword</label>
                    <input id="txtOldPassword" name="txtOldPassword" type="password" class="form-control text-length" placeholder="OldPassword" isrequired="1" divcontainer="dtxtOldPassword" errorspan="stxtOldPassword" defaultvalue="" autocomplete="off" minlength="2" maxlength="10">

                    <span class="help-block d-none has-error" id="stxtOldPassword">Please Enter Valid OldPassword</span>
                </div>
                <div class="form-outline mb-4" id="dtxtNewPassword">
                    <label class="form-label"><span class="has-error required">*</span> NewPassword</label>
                    <input id="txtNewPassword" name="txtNewPassword" type="password" class="form-control text-length" placeholder="NewPassword" isrequired="1" divcontainer="dtxtNewPassword" errorspan="stxtNewPassword" defaultvalue="" autocomplete="off" minlength="2" maxlength="10">

                    <span class="help-block d-none has-error" id="stxtNewPassword">Please Enter Valid NewPassword</span>
                </div>
                <button type="button" id="btnChangePassword" name="btnChangePassword" class="btn btn-primary d-grid w-100">ChangePassword</button>
            </div>
        </div>
    </div>
</section>
   
@section Scripts {
    <script src="~/Archeone/js/login/Login.js"></script>
            }
