@{
    Layout = "_MasterLayout";
}

<section class="content-header"></section>
<section class="content">
    <div class="container-fluid">
        <div class="row justify-content-center">

           @* <div class="col-12 col-md-6 col-lg-4">*@
                <div class="col-md-8 col-lg-5 col-xl-5 offset-xl-1">
            <div class="card">
                <div class="card-header">
                    Change Password 🔒
                </div>

                <div class="card-body">
                    <div>
                        <input type="hidden" class="form-control" id="txtUserId" name="txtUserId" value=@ViewBag.data autofocus />
                    </div>

                    <div class="form-outline" id="dtxtOldPassword">
                        <label class="form-label"><span class="has-error required">*</span> Old Password</label>
                        <input id="txtOldPassword" name="txtOldPassword" type="password" class="form-control text-length" placeholder="Old Password" isrequired="1" divcontainer="dtxtOldPassword" errorspan="stxtOldPassword" defaultvalue="" autocomplete="off" minlength="3" maxlength="10">

                        <span class="help-block d-none has-error" id="stxtOldPassword">Please Enter Valid OldPassword</span>
                    </div>
                    <br/>
                    <div class="form-outline" id="dtxtNewPassword">
                        <label class="form-label"><span class="has-error required">*</span> New Password</label>
                        <input id="txtNewPassword" name="txtNewPassword" type="password" class="form-control text-length" placeholder="New Password" isrequired="1" divcontainer="dtxtNewPassword" errorspan="stxtNewPassword" defaultvalue="" autocomplete="off" minlength="3" maxlength="10">

                        <span class="help-block d-none has-error" id="stxtNewPassword">Please Enter Valid NewPassword</span>
                    </div>
                    <br />
                        
                  
                </div>
                    <div class="card-footer">
                        <div class="row justify-content-end">
                            <div class="p-2">
                                <button type="button" id="btnCancelCP" name="btnCancel" class="btn btn-danger">Cancel</button>
                            </div>
                            <div class="p-2">
                                <button type="button" id="btnChangePassword" name="btnChangePassword" class="btn btn-primary">Change Password</button>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/Archeone/js/login/Login.js"></script>
            }
