@{
    Layout = "_BlankLayout";
}

        <div class="card" style="margin-top:110px">
            <div class="card-body login-card-body">
                <h4>Forgot Password? 🔒</h4>
                <p>Enter your email and we'll send you instructions to reset your password</p>
                <form class="mb-3" asp-controller="LogIn" asp-action="ForgotPassword" method="POST">
                    <div class="input-group mb-3" id="dtxtEmail">
                        <input id="txtEmail" name="Email" type="text" class="form-control text-length" placeholder="Email" isrequired="1" divcontainer="dtxtEmail" errorspan="stxtEmail" defaultvalue="" autocomplete="off" minlength="2">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <button asp-controller="LogIn" asp-action="ForgotPassword" class="btn btn-primary d-grid w-100">Send Reset Link</button>
                </form>
                <div class="text-center">
                    <a href="~/LogIn/LogIn" class="d-flex align-items-center justify-content-center">
                        <i class="bx bx-chevron-left scaleX-n1-rtl bx-sm"></i>
                        Back to login
                    </a>
                </div>
            </div>
        </div>

