@{
    Layout = "_BlankLayout";
}

@*Nikunj Login Code*@

@*
<div class="container-fluid" style="margin-top:170px;">
<div class="card"style="border:none">
    <div class="card-body login-card-body">
        <div class="row form-group">
            <div class="col-md-6" >
                <div style="margin-left:350px" >
                    <img src="~/theme/logo/reyanbluelogo.png" class="img-fluid" alt="Phone image" />
                    </div>
            </div>
            <div class="col-md-6" >
                    <div style="margin-right:350px;margin-left:20px; align-content:center; vh-100">
                    <div class="form-outline mb-4">
                        <input type="text" id="txtUserName" class="form-control form-control-lg" />
                        <label class="form-label" for="form1Example13">Email address</label>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <input type="password" id="txtPassword" class="form-control form-control-lg" />
                        <label class="form-label" for="form1Example23">Password</label>
                    </div>

                    <div class="d-flex justify-content-around align-items-center mb-4">
                        <!-- Checkbox -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="form1Example3" checked />
                            <label class="form-check-label" for="form1Example3"> Remember me </label>
                        </div>
                        <a href="LogIn/ForgotPassword">Forgot password?</a>
                    </div>

                    <!-- Submit button -->
                    <button type="button" id="btnLogin" name="btnLogin" class="btn btn-primary btn-lg btn-block">Sign In</button>
                    </div>
            </div>
        </div>
    </div>
</div>
</div>

*@

<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex  align-items-center  justify-content-center h-100">
            <div class="col-md-6 col-lg-6 col-xl-5">
                @* <div class="col-md-8 col-lg-7 col-xl-6">*@
                @*  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
                class="img-fluid" alt="Phone image">*@
                <img src="~/theme/logo/reyanbluelogo.png" class="img-fluid" />
            </div>
            <div class="col-md-8 col-lg-5 col-xl-5 offset-xl-1">
                @*<div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">*@
                <form>
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form1Example13">Username</label>
                        <input type="text" id="txtUserName" class="form-control form-control-lg" placeholder="Username" />

                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form1Example23">Password</label>
                        <input type="password" id="txtPassword" class="form-control form-control-lg" placeholder="Password" />
                    </div>

                    <div class="d-flex justify-content-around align-items-center mb-3">
                        <!-- Checkbox -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="form1Example3" checked />
                            <label class="form-check-label" for="form1Example3"> Remember me </label>
                        </div>
                        <a href="LogIn/ForgotPassword">Forgot password?</a>
                    </div>

                    <!-- Submit button -->
                    <button type="button" id="btnLogin" name="btnLogin" class="btn btn-primary btn-lg btn-block">Sign In</button>
                </form>
            </div>
        </div>
    </div>
</section>



@section Scripts {
    <script src="~/Archeone/js/login/Login.js"></script>
            }
