@model ArcheOne.Models.Req.LoginReqModel
@{
    Layout = "_BlankLayout";
}

<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex  align-items-center  justify-content-center h-100">
            <div class="col-md-6 col-lg-6 col-xl-5">
                @* <div class="col-md-8 col-lg-7 col-xl-6">*@
                @*  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
                class="img-fluid" alt="Phone image">*@
                <img src="~/theme/logo/reyanbluelogo.png" class="img-fluid" />
            </div>
            <div class="col-md-8 col-lg-5 col-xl-5 offset-xl-1">
                @*<div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">*@
                <form id="RegisterForm">
                    <!-- Email input -->
                    <div class="form-outline mb-4" id="dtxtUserName">
                        <label class="form-label">UserName <span class="has-error required">* </span></label>
                        <input id="txtUserName" name="txtUserName" type="text" class="form-control text-length" placeholder="UserName" isRequired="1" divcontainer="dtxtUserName" errorspan="stxtUserName" defaultvalue="" autocomplete="off" minlength="1" maxlength="25" />
                        <span class="help-block d-none has-error" id="stxtUserName">Please Enter Valid UserName</span>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-4" id="dtxtPassword">
                        <label class="form-label">Password <span class="has-error required">* </span></label>
                        <input id="txtPassword" name="Password" type="password" class="form-control text-length" placeholder="Password" isRequired="1" divcontainer="dtxtPassword" errorspan="stxtPassword" defaultvalue="" autocomplete="off" minlength="3" maxlength="10">
                        <span class="help-block d-none has-error" id="stxtPassword">Please Enter Valid Password</span>
                    </div>
                    <div class="d-flex justify-content-around align-items-center mb-3">
                        <!-- Checkbox -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="rememberMeCheckbox"  />
                            <label class="form-check-label" for="form1Example3"> Remember me </label>
                            @*<input type="checkbox" id="rememberMeCheckbox" /> Remember Me<br />*@
                        </div>
                        <a href="LogIn/ForgotPassword">Forgot password?</a>
                    </div>

                    <!-- Submit button -->
                    <button type="button" id="btnLogin" name="btnLogin" class="btn btn-primary btn-lg btn-block">Sign In</button>

                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/Archeone/js/login/Login.js"></script>
 
            }
