@model ArcheOne.Helper.CommonModels.CommonResponse
@{
    Layout = "_BlankLayout";
}

@if (@ViewBag.Status == true)
{
    <div class="hold-transition login-page">
    <div class="card" style="margin-bottom:100px">
        <div class="card-body login-card-body">
            <h4>Reset Password? 🔒</h4>

            @*<form class="mb-3" asp-controller="LogIn" asp-action="ResetPassword" method="POST">*@
            <div>
                <input type="hidden" class="form-control" id="txtUserId" name="txtUserId" value=@ViewBag.data autofocus />
            </div>
            <div class="input-group mb-3" id="dtxtNewPassword">
                <input id="txtNewPassword" name="txtNewPassword" type="password" class="form-control text-length" placeholder="NewPassword" isrequired="1" divcontainer="dtxtNewPassword" errorspan="stxtNewPassword" defaultvalue="" autocomplete="off" minlength="2">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
            <button type="button" id="btnResetPassword" name="btnResetPassword" class="btn btn-primary d-grid w-100">ResetPassword</button>
          
            @*</form>*@
            <div class="text-center">
                <a href="~/LogIn/LogIn" class="d-flex align-items-center justify-content-center">
                    <i class="bx bx-chevron-left scaleX-n1-rtl bx-sm"></i>
                    Back to login
                </a>
            </div>
        </div>
    </div>
    </div>
}
else
{ <div class="hold-transition login-page">
    <div class="card" style="margin-top:110px">
        <div class="card-body login-card-body">
            <h1 style="color:crimson"> @ViewBag.msg</h1>
        </div>
    </div>
    </div>

}
@section Scripts {
    <script src="~/Archeone/js/login/Login.js"></script>
    <script src="https://malsup.github.io/jquery.blockUI.js"></script>
}


